@charset "UTF-8";
/* Regra @charset caso haja problemas com acentuações */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:lightgoldenrodyellow;
    font-size: 15pt;
   }
   h1 {
       color:maroon;
       background-color: #FA8A70;
   }
   h2 {
       color: maroon;
   }
   p {
       text-align:justify;
   }